<!-- Express JS file index.ejs where frontend for register page is handled and it mainly consists of form that takes in various required values -->
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">

	<!-- <style>
		.bg-image {
			background-image: url('./asset');
			background-size: cover;
			background-position: center;
			color: white; /* Set text color to be visible on the background */
		}
	</style> -->

	<script type="text/javascript">
		$(document).ready(function(){
			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						$('#form1')[0].reset();
						document.getElementById("check").innerHTML = response.Success;
						
						// ADD THIS CODE
						setTimeout(function(){
							document.getElementById("check").innerHTML = "";
						}, 3000);

						if (response.Success == "You are registered,You can login now.") {
							document.getElementById("aa").click();
						};
					},
					error: function() {
						// Handle error
					}
				});
			});
		});
	</script>
</head>
<body>
	<div class="col-md-4 col-md-offset-4 bg-image">
		<div>
			<p class="table-hover form-group green ">Register Now</p>
		</div>
		<div class="form-group">
			<form id="form1" method="post">
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<label for="timeslot">Time-Slot</label>
				<select name="timeslot" id="timeslot">
					<option value="6-7 AM">6-7 AM</option>
					<option value="7-8 AM">7-8 AM</option>
					<option value="8-9 AM">8-9 AM</option>
					<option value="5-6 PM">5-6 PM</option>
				</select></br>
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>
		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a></div>
	</div>
</body>
</html>
